<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="stylesheet" href="/style/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
<div style="padding: 20%;" class="container-fluid">
    <p>Welcome to admin page. Click on the button to find the rating of the respective </p>
    <div>
        <a href="/fayad"><button class="btn btn-success">M.Fayad</button></a>
        <a href="/shim"><button class="btn btn-success">S.Shim</button></a>
        <a href="/paul"><button class="btn btn-success">N.Paul</button></a>
        <a href="/gao"><button class="btn btn-success">JGao</button></a>
        <a href="/rakesh"><button class="btn btn-success">Rakesh Ranjan</button></a>
    </div>

</div>

</body>
</html>